<!-- 左侧社交媒体栏 -->
<div class="social-sidebar">
    <!-- WeChat -->
    <a href="#" class="relative">
        <img src="assets/icon/WeChat.png" alt="WeChat" class="w-8 h-8">
        <span class="tooltip">WeChat: JoyAupair</span>
    </a>

    <!-- WhatsApp -->
    <a href="https://wa.me/8613580790616" target="_blank" class="relative">
        <img src="assets/icon/WhatsApp.png" alt="WhatsApp" class="w-8 h-8">
        <span class="tooltip">WhatsApp: +86 135-8079-0616</span>
    </a>

    <!-- YouTube -->
    <a href="https://www.youtube.com/@JoyAupair" target="_blank" class="relative">
        <img src="assets/icon/YouTube.png" alt="YouTube" class="w-8 h-8">
        <span class="tooltip">YouTube: JoyAupair Official</span>
    </a>

    <!-- TikTok -->
    <a href="https://www.tiktok.com/@joyaupair" target="_blank" class="relative">
        <img src="assets/icon/TikTok.png" alt="TikTok" class="w-8 h-8">
        <span class="tooltip">TikTok: @JoyAupair</span>
    </a>
</div> 